@import "tailwindcss";

/* FUENTES */

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* ESTILOS */

@layer components {
  .seccion-fecha {
    @apply flex flex-col;
  }

  .label-fecha {
    @apply text-gray-600 font-['Poppins'] font-bold text-xs mb-1;
  }

  .input-fecha {
    @apply border border-gray-300 rounded-md w-20 sm:w-24 md:w-28 h-11 pl-3 font-['Poppins'] font-extrabold text-lg;
  }

  .resultado-num {
    @apply text-[#844EFE] font-['Poppins'] italic font-bold text-6xl;
  }

  .resultado-text {
    @apply text-black font-['Poppins'] italic font-bold text-5xl;
  }

  .btn-calcular {
    @apply bg-[#844EFE] text-white w-14 h-14 rounded-full flex items-center justify-center text-2xl shadow-lg lg:transition-all lg:duration-300;
  }
}